html {
    user-select: none;
    background-color: #333;
}

:root {
    --brown: #421c13;
    --brown-dark: #240b07;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    display: flex;
    justify-content: center;
    max-height: 100%;
}

.results {
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    color: orange;
    padding: 20px;
    flex: 1;
}

.results > .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid orange;
    padding: 25px;
}

.count-down-wrapper, .strikes-made-wrapper, .avg-score-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.count-down-label, .strikes-label, .avg-label{
    font-size: 3vmin;
}

.count-down-value, .strikes-value, .avg-value{
    font-size: 5vmin;
}

#app{
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.block{
    position: absolute;
    background: linear-gradient(to bottom right, var(--brown), var(--brown-dark));
    z-index: 1
}

.score-panel{
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    color: orange;
    padding: 20px;
}

.score-panel > .content {
    border: 2px solid orange;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.score-panel > .content > .section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    min-height: 160px;
}

.score-label, .strike-label{
    font-size: 3vmin;
}

.score, .strike{
    font-size: 5vmin;
}


.score-panel > .content > .section > .score.animate {
    animation-name: flashScore;
    height: min-content;
    animation-duration: 0.5s;
    transform-origin: center center;
    /* animation-timing-function: ease-in-out */
}


@media only screen and (max-width: 821px) {
    .container{
        flex-direction: column;
    }

    .results > .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .count-down-wrapper, .strikes-made-wrapper, .avg-score-wrapper{
        height: 80px;
        justify-content: space-between;
    }


    .score-panel > .content {
        flex-direction: row;
        width: 100%;
    }

    .score-panel > .content > .section {
        min-height: 110px;
    }

}

@keyframes flashScore {
    from { 
        transform: scale(1);
        font-weight: bold;
    }
    to { 
        transform: scale(2.5);
        font-weight: bold;
    }
}

#gameboard{

    display: grid;
    background-color: #ccc;
    border: 1vmin;
    padding: 2vmin;
    border-radius: 1vmin;
    position: relative;
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.connector{
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.ball{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    z-index: 1;
    opacity: 1;
}

.ball>span.inSelect{
    display: block;
    position: absolute;
    width: 3.5vmin;
    height: 3.5vmin;
    border-radius: 50%;
    background-color: black;
    pointer-events: none;
}

@keyframes show{
    0%{
        opacity: .5;
        transform: scale(0);
    }
}
